In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import matplotlib

In [ ]:
import google.colab
from google.colab import files
import io

In [ ]:
ru="/content/ratings.csv"

In [ ]:
dfr=pd.read_csv(ru)

In [ ]:
mu="/content/movies.csv"

In [ ]:
import chardet
with open(mu, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'confidence': 0.73, 'encoding': 'ISO-8859-1', 'language': ''}

In [ ]:
dfm = pd.read_csv(mu,encoding='ISO-8859-1')

In [ ]:
tu="/content/tags.csv"

In [ ]:
import chardet
with open(tu, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'confidence': 0.938125, 'encoding': 'utf-8', 'language': ''}

In [ ]:
dft=pd.read_csv(tu,encoding='ISO-8859-1')

In [ ]:
dfm.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
dfr.head()

   userId  movieId  rating   timestamp
0   12882        1     4.0  1147195252
1   12882       32     3.5  1147195307
2   12882       47     5.0  1147195343
3   12882       50     5.0  1147185499
4   12882      110     4.5  1147195239

In [ ]:
dft.head()

   movieId  userId           tag   timestamp
0     3916   12882        sports  1147195545
1     4085   12882  Eddie Murphy  1147195966
2    33660   12882        boxing  1147195514
3     1197     320     must show  1145964801
4     1396     320     must show  1145964810

In [ ]:
dfm.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [ ]:
movies_df=dfm1.copy()

In [ ]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [ ]:
movies_df['genres']=movies_df['genres'].str.split('|')
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [ ]:
moviesWithGenres_df = movies_df.copy()

In [ ]:
#For every row in the dataframe, iterate through the list of genres and place a 1 into the corresponding column
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1

In [ ]:
#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

   movieId                        title  ... Western Film-Noir
0        1                    Toy Story  ...     0.0       0.0
1        2                      Jumanji  ...     0.0       0.0
2        3             Grumpier Old Men  ...     0.0       0.0
3        4            Waiting to Exhale  ...     0.0       0.0
4        5  Father of the Bride Part II  ...     0.0       0.0

[5 rows x 23 columns]

In [ ]:
ratings_df=dfr.copy()
ratings_df.head()

   userId  movieId  rating   timestamp
0   12882        1     4.0  1147195252
1   12882       32     3.5  1147195307
2   12882       47     5.0  1147195343
3   12882       50     5.0  1147185499
4   12882      110     4.5  1147195239

In [ ]:
ratings_df = ratings_df.drop('timestamp', 1)
ratings_df.head()

   userId  movieId  rating
0   12882        1     4.0
1   12882       32     3.5
2   12882       47     5.0
3   12882       50     5.0
4   12882      110     4.5

In [ ]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [ ]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [ ]:
#Filtering out the movies from the input
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

     movieId                title  ... Western Film-Noir
0          1            Toy Story  ...     0.0       0.0
1          2              Jumanji  ...     0.0       0.0
176      296         Pulp Fiction  ...     0.0       0.0
658     1274                Akira  ...     0.0       0.0
931     1968  Breakfast Club, The  ...     0.0       0.0

[5 rows x 23 columns]

In [ ]:
#Resetting the index to avoid future issues
userMovies = userMovies.reset_index(drop=True)
#Dropping unnecessary issues due to save memory and to avoid issues
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

   Adventure  Animation  Children  ...  Documentary  Western  Film-Noir
0        1.0        1.0       1.0  ...          0.0      0.0        0.0
1        1.0        0.0       1.0  ...          0.0      0.0        0.0
2        0.0        0.0       0.0  ...          0.0      0.0        0.0
3        1.0        1.0       0.0  ...          0.0      0.0        0.0
4        0.0        0.0       0.0  ...          0.0      0.0        0.0

[5 rows x 19 columns]

Now we're ready to start learning the input's preferences!

To do this, we're going to turn each genre into weights. We can do this by using the input's reviews and multiplying them into the input's genre table and then summing up the resulting table by column. This operation is actually a dot product between a matrix and a vector, so we can simply accomplish by calling Pandas's "dot" function.

In [ ]:
inputMovies['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

In [ ]:
#Dot produt to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
#The user profile
userProfile

Adventure      10.0
Animation       8.0
Children        5.5
Comedy         13.5
Fantasy         5.5
Romance         0.0
Drama          10.0
Action          4.5
Crime           5.0
Thriller        5.0
Horror          0.0
Mystery         0.0
Sci-Fi          4.5
War             0.0
Musical         0.0
IMAX            0.0
Documentary     0.0
Western         0.0
Film-Noir       0.0
dtype: float64

In [ ]:
#Now let's get the genres of every movie in our original dataframe
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
#And drop the unnecessary information
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.head()

         Adventure  Animation  Children  ...  Documentary  Western  Film-Noir
movieId                                  ...
1              1.0        1.0       1.0  ...          0.0      0.0        0.0
2              1.0        0.0       1.0  ...          0.0      0.0        0.0
3              0.0        0.0       0.0  ...          0.0      0.0        0.0
4              0.0        0.0       0.0  ...          0.0      0.0        0.0
5              0.0        0.0       0.0  ...          0.0      0.0        0.0

[5 rows x 19 columns]

In [ ]:
genreTable.shape

(2500, 19)

In [ ]:
#Multiply the genres by the weights and then take the weighted average
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

movieId
1    0.594406
2    0.293706
3    0.188811
4    0.328671
5    0.188811
dtype: float64

In [ ]:
#Sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
#Just a peek at the values
recommendationTable_df.head()

movieId
2987     0.664336
1907     0.657343
673      0.657343
32031    0.657343
546      0.608392
dtype: float64

In [ ]:
#The final recommendation table
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df.head(20).keys())]

      movieId  ...  year
0           1  ...  1995
317       546  ...  1993
362       673  ...  1996
610      1223  ...  1989
893      1907  ...  1998
1013     2123  ...  1989
1075     2294  ...  1998
1364     2987  ...  1988
1419     3114  ...  1999
1620     3754  ...  2000
1696     4016  ...  2000
1753     4306  ...  2001
1835     4886  ...  2001
2162     8961  ...  2004
2200    32031  ...  2005
2312    53121  ...  2007
2347    56152  ...  2007
2390    63859  ...  2008
2421    72226  ...  2009
2433    78499  ...  2010

[20 rows x 4 columns]